<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creating a New Post</title>
</head>
<body>
    <h1>Edit Your Post</h1>
   <form method="post" action = "/editpost/<%= post.id %>?_method=PATCH">
   <textarea name="caption" placeholder="Enter content" rows="10" cols = "20"><%= post.caption %></textarea>
    <br>
    <br>
    <button>Submit</button>
   </form>
</body>
</html>