<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is a Home Page 1+2 </h1>
    <h3><%= ["nik","hello","sid"][2] %></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel tenetur possimus temporibus esse totam quis dolore aliquid pariatur, itaque soluta voluptatibus, doloribus reiciendis dolorem in impedit molestiae laudantium tempore molestias.</p>
    <button>Click here</button>
</body>
</html>